.StrokeColor {
  display: flex;
  width: 19px;
  height: 18px;
  vertical-align: bottom;
  border-radius: 2px;
}

.StrokeColor_isTransparent {
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.StrokeColor__Plug {
  background-color: var(--main-menu-color);
  width: 65%;
  height: 65%;
  margin: auto;
  border-radius: 1px;
}

.StrokeColor__Plug_isTransparent {
  border: 1px solid rgba(0, 0, 0, 0.15);
}
