@import '../../styles/functions';
@import '../../styles/variables';

.main-menu-item {
    .resetButton();
    padding: 4px 6px;
    border: 1px solid #b8b8b8;
    border-radius: 3px;
    display: block;
    float: left;
    margin-right: 5px;
    outline: none;
    min-width: 30px;
}
    .main-menu-item_right {
        float: right;
    }
    .main-menu-item_disabled {
        opacity: 0.4;
        cursor: not-allowed;
    }
