@import '../../styles/functions';
@import '../../styles/variables';

.submenu {
    background-color: @main-menu-color;
    border: 1px solid @main-menu-item-border-color;
    border-radius: 3px;
    padding: 3px;
}

.submenu-item {
    padding: 4px 10px;
    border-bottom: 1px dashed @main-menu-item-border-color;
    display: flex;
    text-align: left;

    &:last-child {
        border-bottom: none;
    }
}
    .submenu-item__content {
        flex-grow: 1;
    }
    .submenu-item__icon {
        flex-grow: 0;
        padding-left: 10px;
    }
