.MsgBubble {
  padding: 3px 9px;
  border-radius: 5px;
  display: inline-block;
}
.MsgBubble_success {
  background-color: #b0cd9d;
  color: #234c07;
}
.MsgBubble_error {
  background-color: #efb6b1;
  color: #62160f;
}
