.HowToStart {
  position: absolute;
  top: 10%;
  left: 5%;
  color: gray;
  font-family: var(--font-family);
  user-select: none;
  pointer-events: none;
}

@media screen and (min-width: 1100px) {
  .HowToStart {
    left: 50px;
  }
}
