.Tips {
  position: absolute;
  top: 7%;
  right: 5%;
  color: gray;
  font-family: var(--font-family);
  user-select: none;
}

@media screen and (min-width: 1100px) {
  .Tips {
    right: initial;
    left: 800px;
  }
}

@media screen and (max-width: 768px) {
  .Tips {
    display: none;
  }
}
