.popup {
  border: 2px solid #dcdbdb;
  width: 470px;
  position: absolute;
  background-color: lightgray;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.5);
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 1001;
}
.popup_entering {
  display: block;
  transition: transform ease 0.15s;
  transform: translate(-50%, -50%) scale(0);
}
.popup_open {
  display: block;
  transform: translate(-50%, -50%) scale(1);
}
.popup_leaving {
  transition: transform ease 0.15s;
  transform: translate(-50%, -50%) scale(0);
}

.popup-body {
  padding: 30px 24px 24px 24px;
}

.popup-content {
  display: flex;
}
.popup-content__icon {
  flex-grow: 0;
  margin-right: 18px;
}
.popup-content__text {
  flex-grow: 1;
  max-height: 200px;
  overflow: auto;
}

.popup-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  z-index: 1000;
}
.popup-bg_entering {
  display: block;
  opacity: 0;
  transition: opacity 0.3s;
}
.popup-bg_open {
  display: block;
  opacity: 1;
}
.popup-bg_leaving {
  opacity: 0;
  transition: opacity 0.3s;
}
