// I'm not using all bootstrap, only grid and normalizer
@import '~bootstrap/dist/css/bootstrap-grid.css';
@import '~bootstrap/dist/css/bootstrap-reboot.css';

html {
  height: 100%;
}

body {
  background-color: #e2e2e2;
  height: 100%;
  overflow: hidden;
}

#app {
  height: 100%;
}
