@import '../Button/ClearButton';
@import '../../styles/variables';
@import './TopMenuItem';

.MenuButton {
  .ClearButton;
  .TopMenuItem;

  border-radius: 3px;
  margin-right: 5px;
  outline: none;

  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    background-color: #c5c5c5;
  }
}
.MenuButton_active {
  background-color: #c5c5c5;
}
.MenuButton_posRelative {
  position: relative;
}
.MenuButton_disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
