@import '../../styles/variables';

.Separator {
  border-right: 1px solid @main-menu-item-border-color;
  margin-right: 5px;
}

.SeparatorWrapper {
  float: left;
  padding: 1px 0;
}

.SeparatorWrapper_hide {
  display: none;
}
