@import '../../styles/variables.less';

.TopMenuItem__Content {
  flex-grow: 1;
  min-width: 22px;
  text-align: center;
  font-size: 95%;
}

.TopMenuItem__Caret {
  flex-grow: 0;
  padding-left: 5px;
}

.TopMenuItem__Submenu {
  position: absolute;
  display: none;
  top: 100%;
  padding-top: 5px;
  z-index: @main-menu-z-index;
}

.TopMenuItem__Submenu_open {
  display: block;
}
