<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>img-review</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
</head>
<body>
    <p>
        <a href="../">The app has been moved, please click here to open in the new path.</a>
    </p>
</body>
</html>
