<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>ImgReview</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="App to mark and annotate your images and screenshots." />
  <meta name="app-version" content="<%= htmlWebpackPlugin.options.appVersion %>" />
  <meta name="app-build-date" content="<%= htmlWebpackPlugin.options.appBuildDate %>" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />
  <link rel="icon" type="image/x-icon" href="<%= htmlWebpackPlugin.options.buildFolder %>/favicon.ico" />
  <link rel="icon" type="image/png" href="<%= htmlWebpackPlugin.options.buildFolder %>/favicon.png">

<% if (htmlWebpackPlugin.options.isProduction) { %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-38910005-11"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-38910005-11');
  </script>
<% } %>
</head>
<body>
  <div id="app"></div>
</body>
</html>
