html {
  height: 100%;
}

body {
  background-color: #e2e2e2;
  height: 100%;
  overflow: hidden;
}

#app {
  height: 100%;
}

* {
  box-sizing: border-box;
}

:root {
  --font-family: Lato, Arial, serif;
}
