html {
  height: 100%;
}

body {
  background-color: #e2e2e2;
  height: 100%;
}

#app {
  height: 100%;
}

* {
  box-sizing: border-box;
}

:root {
  --font-family: Lato, Arial, serif;
  --main-menu-color: #d3d3d3;
  --main-menu-zindex: 10;
  --main-menu-item-border-color: #c1c1c1;
}
